@model StkPushViewModel

@{
    ViewData["Title"] = "Mpesa Push Stk Payment";
}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Create Mpesa push STK payment</h4>
        </div>
        <div class="content">
            <hr />
            <form asp-action="MpesaPayment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Payment Channel</label>
                    <input asp-for="PaymentChannel" class="form-control"/>
                    <span asp-validation-for="PaymentChannel" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Till Number</label>
                    <input asp-for="TillNumber" class="form-control"/>
                    <span asp-validation-for="TillNumber" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Customer First Name</label>
                    <input asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Customer Last Name</label>
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone Number (Use format: 2547XXXXXXXX)</label>
                    <input asp-for="PhoneNumber" placeholder="2547XXXXXXXX" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input asp-for="Amount" class="form-control"/>
                    <span asp-validation-for="Amount" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Callback Url</label>
                    <input asp-for="CallbackUrl" class="form-control"/>
                    <span asp-validation-for="CallbackUrl" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Initiate Mpesa Payment" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>